
<div class="row">
    <div class="col-md-12">
        <div class="mbox box-primary">
            <div class="box-header with-border">

                <div class="row">
                    <div class="col-md-12">
                        <h1 class="box-title"> Change Password</h1>
                    </div>
                </div>

            </div>
            <!-- /.box-header -->
            <!-- form start -->

            <br><br>
            <form role="form" name="form" novalidate>

                <div class="row">
                    <div class="col-md-6 col-md-offset-3">

                        <div class="form-group">
                            
                            <label for="txtEmail" id="txtEmail">Email<span style="color:red">*</span></label>
                            <input class="form-control input-sm" type="email" id="txtEmail" ng-model="usermodel.user_emailid" name="txtEmail" maxlength="50" title="Contact's email (format: xxx@xxx.xxx)"
                                   ng-pattern='/^(([^<>()\[\]\.,;:\s@\"]+(\.[^<>()\[\]\.,;:\s@\"]+)*)|(\".+\"))@(([^<>()[\]\.,;:\s@\"]+\.)+[^<>()[\]\.,;:\s@\"]{2,})$/i' ng-disabled="true"  required />

                            <span style="color:red;" ng-show="form.txtEmail.$touched && form.txtEmail.$invalid||submitted&&form.txtEmail.$error.required">Email Address is required.</span>
                            <span style="color:red" ng-show="form.txtEmail.$error.pattern">Please enter valid email address.</span>
                        </div>

                        <div class="form-group">
                            <label for="pasword">New Password</label><span style="color:red">*</span>

                            <input class="form-control input-group input-sm" id="txtnewpass" name="txtnewpass" ng-model="usermodel.user_password" ng-minlength="6" ng-maxlength="20" type="password" ng-init="password_error= 0" ng-change="password_error= password_error= 0 + 1; changepassword();" required />
                            <span style="color:red" ng-show="submitted&&form.txtnewpass.$error.required || form.txtnewpass.$touched && form.txtnewpass.$invalid"> Please enter new password here...</span>

                            <div ng-show="!passValidation && password_error>0 ">
                                <!--<div>please enter password</div>
            <div>password length must be 8 to 12</div>
        </div>-->
                                <span style="color:red" ng-show="form.txtnewpass.$dirty &&form.txtnewpass.$error.minlength" class="help-block">Please enter atleast 6 characters</span>
                                <span style="color:red" ng-show="form.txtnewpass.$dirty &&form.txtnewpass.$error.maxlength" class="help-block">Please do not enter more than 20 characters</span>
                            </div>

                        </div>
                        <div class="form-group">
                            <label for="pasword">Confirm Password</label><span style="color:red">*</span>
                            <input class="form-control input-group input-sm" id="txtCPasswrod" name="txtCPasswrod" ng-model="usermodel.user_confirmpassword" maxlength="20" type="password" ng-init="cpassword_error= 0" ng-change="cpassword_error= cpassword_error= 0 + 1; changepassword();" required />
                            <span style="color:red" ng-show="submitted&&form.txtCPasswrod.$error.required || form.txtCPasswrod.$touched && form.txtCPasswrod.$invalid">Please enter confirm password here...</span><br />
                            <span style="color:red" ng-show="cpassword_error>0 && usermodel.user_password !==usermodel.user_confirmpassword"> Sorry , Password Mismatch</span>
                            <span style="color:green" ng-show="cpassword_error>0 && model.password === model.confirmpassword && passValidation">ok !</span>

                            
                        </div>

                    </div>
                </div>

            </form><br><br>
            <div class="box-footer">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary" ng-click="change(form)">change</button>
                        <button type="button" class="btn btn-default" ng-click="Cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div><!--mbox box-primary-->
    </div>
</div>

