<!--<script src="js/dirPagination.js"></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Module List</h3>
            <hr>
            <div class="notifications pull-right padbot10">
                <ul>
                    <li><a id="btnModule" href="" ng-click="addModule();" data-toggle="modal" data-target="#createModule"><i class="fa fa-file"></i> Add New Module</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead class="table-head">
                        <tr>
                            <!--<th width="84">S.No</th>-->
                            <th width="411">Module Name</th>
                            <th width="452">Project Name</th>
                            <th width="123">Status</th>
                            <th width="64">&nbsp;</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="mod in moduleList">

                            <td>{{mod.mod_name}}</td>
                            <td>{{mod.proj_name}}</td>
                            <td><span class="stLbl label {{mod.mod_isactive ? 'btnActive' : 'btnInActive'}}"> {{mod.mod_isactive ? 'Active' : 'Inactive'}} </span></td>
                            <td>
                                <a id="btnModule" href="" ng-click="Edit(mod)" title="Edit" data-toggle="modal" data-target="#createModule"><i class="fa fa-pencil"></i></a>
                                <a href="javascript:;" ng-click="deactivate(mod, !mod.mod_isactive)" title="Inactive"><i class="fa fa-times" ng-show="{{mod.mod_isactive}}"></i></a>
                                <a href="javascript:;" ng-click="deactivate(mod, !mod.mod_isactive)" title="Active"><i class="fa fa-check" ng-hide="{{mod.mod_isactive}}"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--<dir-pagination-controls
                max-size="5"
                direction-links="true"
                boundary-links="true">
            </dir-pagination-controls>-->
            <!--<ul class="pagination pagination-sm pull-right">
                <li ng-disabled="!enablePrevPage" ng-click="prevPage()"><a href="#">«</a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="" ng-disabled="!enableNextPage" ng-click="nextPage()">»</a></li>
            </ul>-->
        </div>
    </div>
</div>


<div class="modal fade" id="createModule" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3 class="modal-title">{{ !isEdit ? 'Add Module' : 'Update Module' }}</h3>
            </div>
            <div class="modal-body-content">
                <form role="form" name="form" novalidate>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Project Name: <span class="red">*</span></label>
                                <select class="form-control" id="ddlproject" ng-model="model.mod_proj_id">
                                    <option selected value=""> -- Select Project  -- </option>
                                    <option ng-repeat="proj in projlist" value="{{ proj.proj_id}}">{{ proj.proj_name}}</option>
                                </select>
                                <span style="color:red" ng-show="form.modStatus.$touched && form.modStatus.$invalid || submitted&&form.modStatus.$error.required"> Project is required..</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Module: <span class="red">*</span></label>
                                <input class="form-control input-sm" type="text" id="txtmodname" name="modname" maxlength="50" ng-model="model.mod_name" ng-pattern="/^[a-zA-Z\_\-\&\ ]*$/" required />
                                <!--ng-pattern="/^[A-Za-z_@./#&+- ]*$/"-->
                                <span style="color:red;" ng-show="form.modname.$touched && form.modname.$invalid||submitted&&form.modname.$error.required">Module name is required.</span>
                                <span style="color:red" ng-show="form.modname.$error.pattern">Please enter valid name.</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Status: <span class="red">*</span></label>
                                <select class="form-control" ng-model="model.mod_isactive" name="modStatus" id="modStatus" required>
                                    <option selected="">-- Select --</option>
                                    <option value="true">Active</option>
                                    <option value="false">InActive</option>
                                </select>
                                <span style="color:red" ng-show="form.modStatus.$touched && form.modStatus.$invalid || submitted&&form.modStatus.$error.required"> Module Status is required..</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <input type="reset" value="CANCEL" class="btn btn-danger" ng-click="Cancel()" data-dismiss="modal" />
                <input type="submit" value="SAVE" ng-click="submitted=true;Save(form)" class="btn btn-primary" ng-hide="isEdit" />
                <input type="submit" value="UPDATE" ng-click="Save(form)" class="btn btn-primary" ng-show="isEdit" onclick="setVis('moduleEdit','none')" />
            </div>
        </div>
    </div>
</div>

<!--<div class="container-fluid">
    <form role="form" name="form" class="form-signin">
        <div class="col-md-12 grBox animated fadeIn" id="moduleEdit" style="margin-top: 15px; display: none;">
            <div class="col-md-12">
                <h3>{{ !isEdit ? 'Add Module' : 'Update Module' }}</h3>
                <hr>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Project Name: <span class="red">*</span></label>
                            <select class="form-control" id="ddlproject" ng-model="model.mod_proj_id">
                                <option selected value=""> -- Select Project  -- </option>
                                <option ng-repeat="proj in projlist" value="{{ proj.proj_id}}">{{ proj.proj_name}}</option>
                            </select>
                            <span style="color:red" ng-show="form.modStatus.$touched && form.modStatus.$invalid || submitted&&form.modStatus.$error.required"> Project is required..</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Module: <span class="red">*</span></label>
                            <input class="form-control input-sm" type="text" id="txtmodname" name="modname" maxlength="50" ng-model="model.mod_name" ng-pattern="/^[a-zA-Z\_\-\&\ ]*$/" required />
                            
                            <span style="color:red;" ng-show="form.modname.$touched && form.modname.$invalid||submitted&&form.modname.$error.required">Module name is required.</span>
                            <span style="color:red" ng-show="form.modname.$error.pattern">Please enter valid name.</span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Status: <span class="red">*</span></label>
                            <select class="form-control" ng-model="model.mod_isactive" name="modStatus" id="modStatus" required>
                                <option selected="">-- Select --</option>
                                <option value="true">Active</option>
                                <option value="false">InActive</option>
                            </select>
                            <span style="color:red" ng-show="form.modStatus.$touched && form.modStatus.$invalid || submitted&&form.modStatus.$error.required"> Module Status is required..</span>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-12">
                <div class="no-padding col-lg-6 col-md-12 col-sm-12 pull-right text-right">
                    <input type="reset" value="CANCEL" class="btn btn-danger" ng-click="Cancel()">
                    <input type="submit" value="SAVE" ng-click="submitted=true;Save(form)" class="btn btn-primary" ng-hide="isEdit" />
                    
                    <input type="submit" value="UPDATE" ng-click="Save(form)" class="btn btn-primary" ng-show="isEdit" onclick="setVis('moduleEdit','none')" />
                    
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
    </form>
</div>-->
