
<style>
    /*
    #content {
        margin: 30px 0;
        font-size: x-large;
        margin-left:10%;
        padding: 40px;
        clear: both;
        color:steelblue;
    }
    #but {
        width: 60%;
        display: inline-block;
        text-align: right;
        margin-left:1%;
    }

    .nav-md .container.body .col-md-3.left_col {
        display: none;
         }

    .main-header .navbar {
        display: block;
    }*/


    /*.box-footer {
        border-bottom: 1px #ccc solid;
        margin-top: 14%;
         background: #ecebe9;
         width:100%;
    }

        .box-footer p {
            text-align:center;
            text-transform: uppercase;
            font-size: 100%;


        }*/ /*color: grey;*/
    h1 {
        padding-left: 185px;
        font-size: 4.5em;
        font-weight: 600;
    }

    body{
        height:99%;
        overflow:hidden;
    }

    .header {
        margin-bottom: 60px;
    }

    #container {
        position: absolute;
        left: 40%;
        top: 55%;
        height: 200px;
        margin-top: -100px; /* half of you height */
        width: auto;
        margin-left: -200px; /* half of you width */
    }

    .masthead {
        min-height: 30rem;
        position: relative;
        display: table;
        width: 100%;
        height: auto;
        padding-top: 8rem;
        padding-bottom: 8rem;
        padding-left: 0px;
        padding-right: 0px;
        height: 100vh;
        background: linear-gradient(90deg,rgba(255,255,255,.1) 0,rgba(255,255,255,.1) 100%),url(../images/bg-masthead.jpg);
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex !important;
    }

    .container-fluid {
        padding: 0px;
    }
</style>


<!--<div style="background-image:url(../../css/img/background1.jpg)" class="mbox box-primary">

    <div class="box-header with-border">
        <div class="pull-left">
            <img src="../../css/img/trans.png" alt="9logic Technoloigies" style="height:50px;width:auto;margin-top:20%;margin-left:60%;" />
        </div>
    </div>

            <h1 style="text-align:center">Welcome to  BugTracker</h1>


     <div class="container" id="content">
            <p>A project management system that enhances team collaboration and productivity.</p>
        </div>


        <div id="but">

            <button type="button" class="btn btn-primary" ng-click="home()">CREATE NEW PROJECT</button>

        </div>

           <div class="box-footer">
               <p>
                   Making project Monitoring EASY!
               </p>
           </div>
</div>-->
<div class="masthead">
    <div id="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="row text-center">
                    <h1 style="padding-left: 185px;">Welcome to  BugTracker</h1>
                </div>

                <div class="row text-center header">
                    <h4 style="padding-left: 180px; text-align:center; font-size: 1.5em;">A project management system that enhances team collaboration and productivity.</h4>
                </div>

                <div class="row text-center" style="padding-left: 150px;">
                    <button type="button" class="btn btn-primary" ng-click="home()">CREATE NEW PROJECT</button>
                </div>
            </div>
        </div>

    </div>
</div>
